.fd-box {
    background-color: rgba(130, 130, 130, 0.3);
    min-height: 500px;
    margin-top: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.fd-box .left-side {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.fd-box .left-side .my-map {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.fd-box .right-side {
    justify-content: center;
    width: 50%;
}
