.search {
    position: relative;
    padding-top: 3rem;
    .sectionContainer {
        width: 100%;
        background-color: transparent;
        border-radius: 16px;
        row-gap: 2rem;
        /* border: 1px solid #000; */
    }

    .search-inputs {
        width: 80%;
        padding: 1.5rem;
        margin: auto;
        border-radius: 20px;
        background-color: #fff;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    .singleInput {
        .iconDiv{
            padding: 16px 10px;
            border-radius: 3rem;
            background:rgb(164, 164, 164);
            margin-right: 1rem;


        .icon {
            color: black;
            opacity: .7;
        }
    }

    .texts {
        h4{
            padding-top: 0;
            padding-bottom: .7rem;
            color: black;
            font-weight: 700;
        }

        input {
            width: 95%;
            border: none;
            outline: none;
            background: transparent;

            &::placeholder{
                font-size: 12px;
                opacity: .5;
            }
        }
    }

    }
}

.justify-content-center {
    justify-content: center !important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.search-form>ul {
    font-size: 1.2rem;
    gap: 2rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 200;
}

.search-form>ul:hover {
    cursor: pointer;
}

.search-inputs {
    display: flex;
    flex-direction: row;
    margin: 2rem 1.5rem;
}


.search-inputs>button {
    background: #000;
    color: #fff;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 1rem;
    transition: .3s linear;
}
